* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f4f7f6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2874f0;
    padding: 15px 10%;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo { font-size: 24px; font-weight: bold; }
.nav-links { display: flex; list-style: none; gap: 30px; }
.nav-links a { color: white; text-decoration: none; font-weight: 500; }
.login-btn { background: white; color: #2874f0; border: none; padding: 8px 20px; font-weight: bold; cursor: pointer; }


.section-container {
    padding: 60px 10%;
    text-align: center;
}

.category-title {
    margin-bottom: 40px;
    font-size: 2rem;
    color: #333;
}


.product-flex-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 80px; 
}

.product-card {
    background: white;
    padding: 20px;
    width: 350px; 
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.price {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    color: #388e3c;
    margin-top: 10px;
}

/* ABOUT & FOOTER */
.info-section {
    padding: 60px 10%;
    background: #fff;
    display: flex;
    justify-content: center;
}

.info-card { text-align: center; max-width: 700px; }

.footer-info {
    background: #172337;
    color: white;
    text-align: center;
    padding: 30px;
}